

.details-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content:center;

    padding-left: 4rem;
    padding-right: 4rem;
    height: 800px;
}

.summary-wrapper
{
    padding: 2rem;
    font-family: 'Hammersmith One', serif;
    color: seashell;
    flex: 0 1 50%;
}

.movie-synopsis
{
    text-align: justify;
}
.movie-stars
{
    
}
.summary-tags
{
    font-size: 1.2rem;
    color: #0CA0DC;
    text-transform: uppercase;
}
.details-trailer-wrapper
{
    flex: 0 1 50%;
}

.summary-movie-buttons
{
    display: flex;
}


.summary-play-button, .summary-add-button
{
    flex: 0 1 50%;
    
    background-color: #00B9BC;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-symbol
{
    font-size: 3rem;
    margin-top:-0.4rem;
}

