
@import url(sections.css);
@import url(header.css);



:root
{
    --nav-height:150px;
   
}

/*
    HEADER - INCLUYE BARRA NAV
*/

main{
    width: 100%;
}
.main-page
{
    margin-top: var(--nav-height);
    
}


